.input-field {
    display: none;
}

.label-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-field::before {
    content: '';
    border: 3px solid var(--color-fourth);
    border-radius: var(--space-radius);
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
}

.input-field:checked + .label-field::before {
    background-color: var(--color-first);
}