.board {
    padding: 15px;
}

.hashtag-board {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-third);
}

.hashtag-board > .item {
    background-color: var(--color-zero);
    display: flex;
    justify-content: center;
}

.hashtag-board > .item:nth-child(2),
.hashtag-board > .item:nth-child(4),
.hashtag-board > .item:nth-child(6),
.hashtag-board > .item:nth-child(8) {
    justify-content: space-between;
}

.hashtag-board > .item:nth-child(2)::before,
.hashtag-board > .item:nth-child(2)::after,
.hashtag-board > .item:nth-child(4)::before,
.hashtag-board > .item:nth-child(4)::after,
.hashtag-board > .item:nth-child(6)::before,
.hashtag-board > .item:nth-child(6)::after,
.hashtag-board > .item:nth-child(8)::before,
.hashtag-board > .item:nth-child(8)::after {
    content: '';
    background-color: var(--color-third);
    
}
.hashtag-board > .item:nth-child(2)::before,
.hashtag-board > .item:nth-child(2)::after,
.hashtag-board > .item:nth-child(8)::before,
.hashtag-board > .item:nth-child(8)::after {
    width: 4px;
    height: 100%;
}

.hashtag-board > .item:nth-child(2)::before,
.hashtag-board > .item:nth-child(2)::after {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.hashtag-board > .item:nth-child(4),
.hashtag-board > .item:nth-child(6) {
    flex-direction: column;
}

.hashtag-board > .item:nth-child(4)::before,
.hashtag-board > .item:nth-child(4)::after,
.hashtag-board > .item:nth-child(6)::before,
.hashtag-board > .item:nth-child(6)::after {
    width: 100%;
    height: 4px;
}

.hashtag-board > .item:nth-child(4)::before,
.hashtag-board > .item:nth-child(4)::after {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.hashtag-board > .item:nth-child(5) {
    border: 4px solid var(--color-third);
}

.hashtag-board > .item:nth-child(6)::before,
.hashtag-board > .item:nth-child(6)::after {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hashtag-board > .item:nth-child(8)::before,
.hashtag-board > .item:nth-child(8)::after {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

