.about-link {
    font-weight: bold;
    font-size: var(--size-small);
    color: #707070;
    text-decoration: none;
    text-transform: uppercase;
}

.about-link.-light {
    color: var(--color-zero);
}
