.player-click {
    font-size: var(--size-small);
    color: var(--color-negative);
    background-color: var(--color-zero);
    border-radius: var(--space-radius-medium);
}

.player-click.-end {
    background-color: var(--color-nineth);
    text-transform: uppercase;
}