.label::before {
    content: '';
    border: 3px solid var(--color-fourth);
    border-radius: var(--space-radius);
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
}