.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header > .sobre {
    margin-left: auto;
    margin-right: 10px;
}

.header > .burger-menu {
    width: 25px;
}
