body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--size-base);
}

ul li {
    font-size: var(--size-small);
    color: var(--color-second);
    margin-bottom: var(--spacing-small);
}
