:root {
    --space-radius: 5px;
    --space-radius-medium: 15px;

    --spacing-extra-small: 5px;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 35px;
    --spacing-very-large: 90px;
}
