.app {
    text-align: center;
}

.app > .header {
    width: 90vw;
    margin: 0 auto 85px auto;
}

.app > .board {
    width: 90vw;
    height: 90vw;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 40px;
}