.app {
    text-align: center;
}

.app > .header-game {
    width: 90vw;
    margin: 0 auto 85px auto;
}

.app > .about {
    position: absolute;
    top: 0;
    left: 0;
}

.app > .board {
    width: 90vw;
    height: 90vw;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 40px;
}