.app {
    text-align: center;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.app > .header-game {
    width: 90vw;
    margin: 0 auto 85px auto;
}

.app > .about-menu {
    position: absolute;
    top: 0;
    left: 0;
}

.app > .board-game {
    width: 90vw;
    height: 90vw;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.app > .label-field {
    margin-bottom: var(--spacing-large);
}

.app .player-click {
    padding: var(--spacing-extra-small) var(--spacing-medium);
}

.app > .player-events {
    display: none;
}

.app > .input-field:checked ~ .player-events {
    display: block;
}