.app {
    text-align: center;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.app > .header-game {
    width: 90vw;
    min-width: 260px;
    margin: 0 auto 85px auto;
}

.app > .about-menu {
    position: absolute;
    top: 0;
    left: 0;
}

.app .board-game {
    width: 90vw;
    height: 90vw;
    max-width: 330px;
    min-width: 260px;
    max-height: 330px;
    min-height: 260px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.app .label-field {
    margin-bottom: var(--spacing-large);
}

.app .player-click {
    padding: var(--spacing-extra-small) var(--spacing-medium);
}

.app .player-events {
    opacity: 0;
    position: relative;
    transition: all 300ms linear;
    transform: translateX(-130%);
    z-index: -1;
    min-width: 130px;
}

.app .input-field:checked ~ .player-events {
    position: relative;
    opacity: 1;
    transition: all 300ms linear;
    transform: translateX(0);
    z-index: 1;
}

@media (min-width: 740px) {
    .app .header-game {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .app .header-internal {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .app .hashtagboard-wrapper {
        display: inline-flex;
        justify-content: center;
        position: relative;
    }

    .app .player-events {
        margin-left: var(--spacing-large);
    }

    .app .label-field {
        position: absolute;
        left: 95px;
        top: 370px;
    }
}